.Home{
  margin-top: 0;
  padding: 15px;
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

.Home p,h6{
  font-size: large;
  color: lightblue;
}
 
.content{
  margin-top: 10px;
  padding: 2px;
}


